 @import "../../global.scss";  
      
        .portfolioList{
            font-size: 14px;
            margin: 50px;
            padding: 7px;
            border-radius: 10px;
            cursor: pointer;

            &.active{
                background-color: #75d481;
                color: white;
            }

        }